$color-white: #fff;
$color-electric: #4563bc;
$color-grey: #3d444d;
$color-electric-hover: #4b69c4;

$placeholder-color: #908d8d;

$bg-color-default: #0d1117;
$bg-color-muted: #151b23;
$bg-color-inset: #010409;


